@media (max-width: 1000px) {
  .repositories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .repositories {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-search {
    input {
      width: 250px;
    }
  }
}

@media (max-width: 425px) {
  .repositories {
    grid-template-columns: 1fr;
  }

  .form-search {
    flex-direction: column;
    align-items: center;

    .btn-search {
      width: 100%;
    }
  }

  .empty-message {
    width: 250px;
    font-size: 35px;
  }
}