.form-search {
  input {
    padding: 10px;
    padding-left: 20px;
    width: 400px;
    font-size: 20px;
    border: none;
    border-radius: 40px;
  }

  .btn-search {
    padding: 11px;
    width: 120px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #11b4dd;
    border-radius: 30px;
    transition: all .5s ease;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(5px);
    }
  }
}