.repositories {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.repository {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
  gap: 10px;
  padding: 20px;
  text-align: center;
  background-color: #151515;
  border-radius: 30px;
  box-shadow: 0 0 15px -5px #000000;

  span {
    display: block;
    align-self: flex-start;
    font-size: 12px;
    color: #cccccc;
  }

  img {
    width: 120px;
  }

  p {
    color: #11b4dd;
  }

  a {
    max-width: 150px;
    transition: all .3s ease;
    overflow: hidden;

    &:hover {
      color: #cccccc;
      text-decoration: underline;
    }
  }
}